[submodule "public"]
	path = public
	url = https://github.com/wangyuy22/wangyuy22.github.io.git
	branch = master
[submodule "public2"]
	path = public2
	url = https://github.com/wangyuy22/wangyuy22.github.io
