{{ $ := .root }}
{{ $page := .page }}

<!-- Coursework widget -->
<div class="row">
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>

  {{ if $page.Params.item }}
  {{ range $idx, $key := sort $page.Params.item ".date_start" "asc" }}
  <div class="col-lg-6 col-md-6 mb-4">
    <div class="card experience course shadow-sm rounded-0 border-0">
      <div class="card-body">
        {{- with .url -}}<a href="{{.}}" target="_blank" rel="noopener">{{- end -}}
          <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>
          {{- with .url -}}</a>{{- end -}}
        

        <div class="card-subtitle my-0 article-metadata">
            {{- .credits | markdownify | emojify -}}
        </div>

        <br>
        {{with .description}}
        <div class="card-text">{{. | markdownify | emojify}}</div>
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
  {{end}}
</div>
</div>